<%= form_with(model: evidence, local: true) do |form| %>
  <% if evidence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evidence.errors.count, "error") %> prohibited this evidence from being saved:</h2>

      <ul>
      <% evidence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :alarm_id %>
    <%= form.text_field :alarm_id %>
  </div>

  <div class="field">
    <%= form.label :notaEvidencia %>
    <%= form.text_area :notaEvidencia %>
  </div>

  <div class="field">
    <%= form.label :rutaEvidencia %>
    <%= form.text_field :rutaEvidencia %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
