<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @alarm.user %>
</p>

<p>
  <strong>Latitud:</strong>
  <%= @alarm.latitud %>
</p>

<p>
  <strong>Longitud:</strong>
  <%= @alarm.longitud %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @alarm.descripcion %>
</p>

<p>
  <strong>Tipoalarma:</strong>
  <%= @alarm.tipoAlarma %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @alarm.estado %>
</p>

<%= link_to 'Edit', edit_alarm_path(@alarm) %> |
<%= link_to 'Back', alarms_path %>
